.about-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    align-items: center;
   
    
    
}
.about-img img{
    height: 500px;
    width: auto;
    border-radius: 100%;
}

